@import "/css/header.css";
@import "/css/cards.css";
@import "/css/footer.css";

@font-face {
  font-family: "Prata-Regular";
  src: url(/fonts/Prata-Regular.ttf);
}

@font-face {
  font-family: "eczar-semibold";
  src: url(/fonts/Eczar/Eczar-SemiBold.ttf);
}

@font-face {
  font-family: "tajawal-L";
  src: url(/fonts/Tajawal/Tajawal-Light.ttf);
}

@font-face {
  font-family: "tajawal-ExtraLight";
  src: url(/fonts/Tajawal/Tajawal-Light.ttf);
}

:root{
  --fnheader: eczar-semibold;
  --fnbody: Prata-Regular;
  --fnEL:tajawal-ExtraLight; 
  --fntajawal:tajawal-L;
  --azul-fuerte: #182F53;
  --crema: #f7f5de;
  --gray: #3d3d3d;
}


* {
  margin: 0;
  padding: 0;
}

body{
  background-image: url(/img/fondo-page.jpg);
  background-attachment:fixed;
  min-height: 100vh; 
}

